{% extends "base.html" %}

{% block content %}

<div class="content">

  <div class="page-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-6 about-me">   
    <div class="row address">
      <address>
        <strong>{{ companyName }}</strong>
        <br>
        {{ companyAdress|linebreaks }}                    <!-- newline filter -->
        <br>
        <abbr title="Phone">Phone:</abbr> {{ phoneNumber }} 
      </address>

      <address>
        <strong>Pavel Silber</strong><br>
        <a href="mailto:#">{{ email }}</a>
      </address>
    </div>
  </div>  

  <div class="col-lg-6 col-md-6 col-md-6 col-sm-6 col-xs-6 about-me">
    <img src="/static/img/adress.jpg" alt="adress" class="img-thumbnail">
  </div>

</div>

{% endblock %}