<div class="container">   
  <div class="row menu">

    <div class="nav nav-pills">
        <li col-lg-4 col-md-4 col-sm-4 col-xs-4>
            <a href="..">PORTFOLIO <i class="fa fa-briefcase icon-design" style="font-size:22px;"></i></a>
        </li>
        <li col-lg-4 col-md-4 col-sm-4 col-xs-4>
            <a href="/work">MY WORKS <i class="fa fa-flag-checkered icon-design" style="font-size:22px;"></i></a>
        </li>
        <li col-lg-4 col-md-4 col-sm-4 col-xs-4>
            <a href="/contact">CONTACTS <i class="fa fa-send icon-design" style="font-size:22px;"></i></a>
        </li>
    </div> 
  </div>

<hr>