{% extends "base.html" %}


{% block content %}

<div class="container content"> 

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


<div class="w3-container w3-lobster font-effect-brick-sign col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p class="w3-xxlarge title">Welcome to my awesome page!</p>
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 about-me">

  <dl class="dl-horizontal">
    <dt>My role:</dt>
    <dd>{{ myRole }}</dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd>{{ myName | title }}</dd>             <!-- Filter |title -->
  </dl>

  <dl class="dl-horizontal">
    <dt>My birthday:</dt>
    <dd>{{ myAge|date:"d F o" }}</dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Languages:</dt>
    <dd>{{ myLanguages | title }}</dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Skills:</dt>
    <dd>{{ mySkills }}</dd>
  </dl>

  <dl class="dl-horizontal">
    <dt>Experience:</dt>
    <dd>{{ myExperience }}</dd>
  </dl>

<!-- ############################################## -->

  <dl class="dl-horizontal">
    <dt>Place of work:</dt>
        {% if not work_key %}
          <p>&nbsp&nbsp&nbsp I didn't work yeat.</p>
        {% endif %}
        {% for home in work_key %}
          <dd>
            <div class="job">
              {{ home.header }}
            </div>
            <div class="desc">
              {{ home.desc }}
            </div>
          </dd>
          <br>
        {% endfor %}
  </dl>
<!-- ############################################## -->

  <dl class="dl-horizontal">
    <dt>Pets:</dt>
    <dd>{% if pets %}
          {% for pet in pets %}
            {{ pet}}
          {% endfor %}
          {% else %}
            Don't have yeat
        {% endif %}

    </dd>
  </dl>

</div> 

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="col-lg-6 col-md-6 col-md-6 col-sm-6 col-xs-6 about-me">
  <img src="/static/img/pic.JPG" alt="It's me" class="img-thumbnail">
<!--   <br>
  <div>Today is {{ dayOfWeek }} Friday?</div> -->
</div>

</div> <!-- end of container -->

{% endblock %}



