<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My works</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

  </head>
  <body>


 <!-- ################################################################################## -->   


<div class="container" >   
  <div class="row menu">

    <div class="nav nav-pills">
        <li col-lg-4 col-md-4 col-sm-4 col-xs-4>
            <a href="..">PORTFOLIO</a>
        </li>
        <li col-lg-4 col-md-4 col-sm-4 col-xs-4>
            <a href="/work">MY WORKS</a>
        </li>
        <li col-lg-4 col-md-4 col-sm-4 col-xs-4>
            <a href="/contact">CONTACTS</a>
        </li>
    </div> 
  </div>
</div>

<hr>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="page-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12" >   
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="Freshii" src="/static/img/freshii.jpeg">
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="blinchik" src="/static/img/blinchik.jpg">
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="zara" src="/static/img/zara.gif">
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="dj" src="/static/img/dj.jpeg">
      </a>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="playboy" src="/static/img/playboy.jpg">
      </a>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="samsung" src="/static/img/samsung.jpeg">
      </a>
    </div>


  </div>
</div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>