{% extends "base.html" %}

{% block content %}

<div class="page-wrapper content">   
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="Freshii" src="/static/img/freshii.jpeg">
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="blinchik" src="/static/img/blinchik.jpg">
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="http://www.zara.com/il/" class="thumbnail">
        <img data-src="holder.js/210%210" alt="zara" src="/static/img/zara.gif">
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="dj" src="/static/img/dj.jpeg">
      </a>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="playboy" src="/static/img/playboy.jpg">
      </a>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/210%210" alt="samsung" src="/static/img/samsung.jpeg">
      </a>
    </div>


  </div>
</div>

{% endblock %}
